.files-container {
    padding: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #007bff !important;
    color: #fff !important;
    padding: 10px !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    transition: background-color 0.2s ease-in-out !important;
    cursor: pointer !important;
    margin-right: 10px !important;
    text-transform: none !important;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.file-name {
    font-size: 18px;
    font-weight: bold;
}

.download-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.download-link:hover {
    background-color: #0056b3;
}

.download-icon {
    font-size: 16px;
    margin-left: 5px;
}